%h1 Edit Item
= simple_form_for @item do |f|
  %fieldset.form-horizontal
    %legend Item Details
    .form-inputs
      = f.input :name
      current image:
      %br
      = image_tag("/uploads/#{@item.id}/thumb_#{File.basename(@item.image.url)}")
      = f.input :image
      = f.input :price 

  .form-actions
    = f.button :submit, :class => "btn btn-primary"