%h1 Item index

%table#display.table.table-striped
  %thead
    %th Name
    %th Description
    %th Price
    %th 
  %tbody
    - @items.each do |item|
      %tr
        %td 
          = item.name
        %td
          = item.description
        %td
          = currency_symbol
          = item.cost
        %td.actions
          = link_to item, class: 'btn btn-info btn-mini', title: "View Item" do
            %i.icon-eye-open.icon-white
            View
          = link_to [:edit, item], class: 'btn btn-info btn-mini', title: "Edit Item" do
            %i.icon-pencil.icon-white
            Edit
          = link_to item, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger btn-mini', title: "Delete Item" do
            %i.icon-trash.icon-white
            Delete