= link_to new_item_path, :class => 'btn btn-primary' do
  New Item
  
%h1 Item index
%table#display.table.table-striped
  %thead
    %th Name
    %th Image
    %th Price
    %th 
  %tbody
    - @items.each do |item|
      %tr
        %td 
          = item.name.to_s + ' (' + item.type.name.to_s + ')'
        %td
          = link_to image_tag("/uploads/#{item.id}/thumb_#{File.basename(item.image.url)}"), item
        %td
          = currency_symbol
          = item.cost
        %td.actions
          = link_to item, class: 'btn btn-info btn-mini', title: "View Item" do
            View
          = link_to [:edit, item], class: 'btn btn-info btn-mini', title: "Edit Item" do
            Edit
          = link_to item, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger btn-mini', title: "Delete Item" do
            Delete