%h1 New Item
= simple_form_for(@item, :defaults => { :input_html => { :class => 'input-xxlarge' } }, :html => {:multipart => true}) do |f|
  %fieldset.form-horizontal
    %legend Item Details
    .form-inputs
      = f.input :name
      = f.input :image
      = f.input :price

      = f.grouped_collection_select :type_id, Category.order(:name), :types, :name, :id, :name, :prompt => "-- Select Item Type --"
  .form-actions
    = f.button :submit, :class => "btn btn-primary"