%h1 New Item
= simple_form_for(@item, :defaults => { :input_html => { :class => 'input-xxlarge' } }, :html => {:multipart => true}) do |f|
  %fieldset.form-horizontal
    %legend Item Details
    .form-inputs
      = f.input :name
      = f.input :image
      = f.input :price

  .form-actions
    = f.button :submit, :class => "btn btn-primary"