%h1
  = @item.name

%p
  = link_to image_tag("/uploads/#{@item.id}/#{File.basename(@item.image.url)}"), @item
  %br
  = currency_symbol
  = @item.cost

= link_to "Add to Cart", line_items_path(:product_id => @item.id), :method => :post
